.logo {
    background-position: center;
    height: 50px;
    width: 50px;
    background-color: chocolate;
    background-image: url("../asset/justice.jpg");
    background-size: cover;
    border-radius: 50%;
}

.header-utama {
        display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    background-image: url("../asset/backgroundAbu.jpg");
    
}

.design-body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigasi-utama {
    display: flex;
    gap: 10px;
}
.navigasi-home {
    border:2px solid black;
    padding: 7px;
}
.navigasi-about {
    border:2px solid black;
    padding: 7px;
}
.navigasi-portofolio {
    border:2px solid black;
    padding: 7px;
}
.navigasi-message {
    border:2px solid black;
    padding: 7px;
}

.main {
    margin-top: 0;
}

.main-home {
    min-height: 500px;
    background-image: url("../asset/BackgroundPutih.jpg");
    background-size: cover;
    background-position: center;
}
.header-home {
    text-align: center;
}

.perkenalan {
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
}

.justice-gang {
    background-image: url("../asset/theGang.jpg");
    height: 300px;
    width: 500px;
    background-size: cover;
    background-position: center;
    margin: 20px auto 0 auto;
    border-radius: 10px;
}

.main-about {
    min-height: 500px;
}

.header-about {
    text-align: center;
}

.perkenalan-about {
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
}

.member-logos {
    display: flex;
    justify-content: center; /* tengah horizontal */
    align-items: center;     /* tengah vertikal jika tinggi parent cukup */
    gap: 40px;               /* jarak antar logo */
    margin-top: 20px;
}

.guy-logo {
    background-position: center;
    height: 100px;
    width: 100px;
    background-color: chocolate;
    background-image: url("../asset/guy.jpeg");
    background-size: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.mr-terrific {
     background-position: top;
    height: 100px;
    width: 100px;
    background-color: chocolate;
    background-image: url("../asset/terrific.jpeg");
    background-size: cover;
    border-radius: 50%;
    margin: 30px 0 0 50px;
    border: 2px solid black;
}

.hawkgirl {
    background-position: top;
    height: 100px;
    width: 100px;
    background-color: chocolate;
    background-image: url("../asset/hawkgirl.jpeg");
    background-size: cover;
    border-radius: 50%;
    margin: 30px 0 0 50px;
    border: 2px solid black;
}

.metamorpho {
    background-position: top;
    height: 100px;
    width: 100px;
    background-color: chocolate;
    background-image: url("../asset/metamorpho.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 30px 0 0 50px;
    border: 2px solid black;
}
.main-portofolio {
    min-height: 500px;
}
.main-message {
    min-height: 500px;
}
.header-message {
    text-align: center;
}
.nama-pengunjung {
    padding: 5px;
    margin-top: 10px;
    width: 300px;
}
.nomor-pengunjung {
    padding: 5px;
    margin-top: 10px;
    width: 300px;
}
.email-pengunjung {
    padding: 5px;
    margin-top: 10px;
    width: 300px;
}
.pesan {
    padding: 5px;
    margin-top: 10px;
    width: 300px;
    height: 100px;
    resize: none;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: chocolate;
    color: white;
}
